.searchContent {
  @media (min-width: 1024px) {
    display: flex;
  }

  .postContent {
    @media (min-width: 1024px) {
      max-width: 80%;
      width: 100%;
    }

    small {
      font-size: 0.75rem;
      color: var(--dark-purple);
      font-weight: 500;
      margin-bottom: 1.5rem;
      display: block;
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
