.searchContent {
  @media (min-width: 1024px) {
    display: flex;
  }

  .sidebar {
    flex-basis: 20%;

    ul {
      list-style: none;

      @media (max-width: 1024px) {
        display: flex;
        align-items: baseline;
        margin-bottom: 2rem;
      }

      li {
        margin-right: 1rem;

        & + li {
          margin-top: 1.5rem;
        }

        a {
          font-size: 1rem;
          font-weight: 600;
          position: relative;
          @media (max-width: 1200px) {
            font-size: 0.75rem;
          }

          &.active {
            &::after {
              content: '';
              height: 1.5px;
              display: block;
              width: 100%;
              position: absolute;
              bottom: -2px;
              background: var(--dark-purple);
            }

            @media (max-width: 1200px) {
              border: 2px solid var(--dark-purple);
              padding: 4px 12px;
              border-radius: 4px;

              &:after {
                display: none;
              }
            }
          }

          &:hover {
            &::after {
              content: '';
              height: 1.5px;
              display: block;
              width: 100%;
              position: absolute;
              bottom: -2px;
              background: var(--dark-purple);
            }
          }
        }
      }
    }
  }

  .postContent {
    @media (min-width: 1024px) {
      max-width: 80%;
    }

    small {
      font-size: 0.75rem;
      color: var(--dark-purple);
      font-weight: 500;
      margin-bottom: 1.5rem;
      display: block;
    }
  }
}
