:root {
  --white: #fff;

  --purple: #5405bd;
  --dark-purple: #180136;
  --gray: #6b748c;
  --light-gray: #f4f5f6;
  --shadow: #c3c3c3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font: 400 1rem 'Inter', helvetica, arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: var(--light-gray);
}

main {
  max-width: 1300px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
